*
{
    margin: 0px auto;
}
    
.footer
{
    margin: 0px auto;
    background-color: #121116;
    box-sizing: border-box
}
.cointeiner
{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1170px;
    color: #fff;
}
.kasper
{
    display: inline-block;
    padding: 120px 505px 55px 506px;
    height: 113px;
    width: 36px;
    
}
.social h2
{
    content: '';
    padding: 0PX 510px 20PX 504px;
    background-position: center center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
    
    
}
.social ul
{
    display: flex;
    padding: 22px 513px 88px 511px;
    list-style: none;
    justify-content: space-between;
}
.jama
{
    padding: 0px 453px 37px 467px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}
.jama a
{
    color:#19c8fa;
    text-decoration: none;
}

